header {
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  font-size: 45px;
  background-color: #fffb1c;
  color: black;
  font-family: "Varela Round", Arial;
}

.title {
  margin-left: 5vh;
  white-space: pre;
}

.upload {
  margin-top: -8px;
}

.confirm {
  margin-bottom: 20px;
  margin-top: -7px;
  margin-right: 20px;
}
.confirm button {
  background-color: #aa7cff;
  font-family: inherit;
}

.logo {
}